# Ignore node_modules
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore build outputs
/dist
/build

# Ignore other potential sensitive files
.DS_Store
.env.local