<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid"> <!-- Use container-fluid aqui -->
        <a class="navbar-brand" href="index.html">
            <img src="../assets/logo.png" alt="Logo" class="logo-img">
        </a>
        <li class="nav-item">
            <a class="navbar-brand ms-5 me-5" href="tracerouter.html">Traceroute</a>
        </li>
            
        <li class="nav-item">
            <a class="navbar-brand ms-5 me-5" href="dig.html">Dig</a>
        </li>

        <li class="nav-item">
            <a class="navbar-brand ms-5" href="historico.html">Histórico</a>
        </li>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <span id="userGreeting" class="nav-link text-light"></span>
                </li>
                <li class="nav-item">
                    <a href="#" id="logout" class="btn btn-danger">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
